.glider-contain {
    height: 40%;
    width: 80%;
    min-width: 80%;
    background: rgb(0, 114, 187,0.3);
    position: relative;
    border-radius: 4px;
    margin: 0 auto 3em;
}

.glider{
    height: 100%;
    display: flex;
    scrollbar-width: none;
}

.dots {
    margin: 0.5em auto;
}

.glider-dot.active {
    background: var(--darkBlue);
}

.glider-prev {
    left: -10%;
}

.glider-next, .glider-prev{
    position: absolute;
    display: block;
    top: 50%;
    transform: translate(0,-50%);
}
.glider-next {
    right: -10%;
}

.glider-prev svg {
    transform: rotate(90deg);
}

.glider-next svg {
    transform: rotate(-90deg);
}

.testimonial {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.testimonial img {
    display: block;
    height: 40%;
    width:auto;
    margin: 0 0.5em;
}

.testimonial blockquote {
    font-style: italic;
    width: 60%;
    font-size: 1em;
    color: var(--darkBlue);
}

.testimonial blockquote span {
    width: 100%;
    font-style:normal;
    font-weight: bold;
    display: block;
    text-align:right;
    margin: 1em 0;
    font-size: 0.9em;
}

