* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
  }


  body, html {
      min-height: 100%;
      height:100vh;
      width: 100vw;
  }

  h1,h2,h3 {
      font-family: 'Roboto', sans-serif;
  }

  p,blockquote,span {
      font-family: 'Montserrat', sans-serif;
  }

  section {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Arial, Helvetica, sans-serif;
      text-shadow: 2x 2px 8px rgba(0,0,0,0.7);
      position: relative;
  }

  #section-3 {
      flex-direction: column;
  }


  .column-left, .column-right {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  #section-1 .column-left {
      width: 60%;
  }

  .video {
      width: 80%;
      min-width: 80%;
      height: 50%;
      min-height: 50%;
  }

  #section-1 .column-right {
      width: 40%;
      align-items: flex-start;
      justify-content: center;
      margin-left: auto;
  }

  #section-1 h1{
      margin: 2em 0;
  }

  #section-1 p {
      width: 90%;
      margin: 0 0 2em;
  }

  #section-2 .column-left {
      width: 40%;
  }

  #section-2 .column-right {
      width: 60%;
  }
  
  @media screen and (max-width:1100px){
   
    body {
        -webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
    }

    #section-2 {
        flex-direction: column;
        padding: 0;
    }

    #section-2 h2 {
        margin: 1em auto 0.5em!important;
    }

    #section-2 .column-right {
        padding:0px!important;
        height: 60%;
        width: 100%;
        order: 1;
        justify-content: flex-start;
    }

    #section-2 .column-right .service {
        flex-direction: column;
    }

    .container-services {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0;
        padding: 0 1em;
    }

    .service {
        justify-content: center;
        align-items: center;
    }
      
    .service p {
        width: 100%;
        margin: 0.58em auto;
        font-size: 1em;
        padding: 0 1em;
    }

    #section-2 .column-left {
        order: 2;
        align-items: flex-start;
    }

    #section-2 img {
        margin: 2em auto;
    }

  }



  @media screen and (max-width:880px){
	

      html,body {
          height: 100%!important;
      }

      section {
         flex-direction: column; 
      }

      .column-left {
          position: relative!important;
      }

      .column-left, .column-right {
          width: 100%;
      }

      .scroll-button {
          bottom: 1.5em!important;
      }

      .scroll-button svg {
          width: 100px!important;
      }

      .scroll-button:hover svg {
        transform: scale(1)!important;
      }

      #section-1 .column-left {
          position: relative;
      }

      #section-2 {
        flex-direction: column-reverse;
      }

      #section-3 {
          display: flex;
          flex-direction: column!important;
      }
      
      .background-image {
        z-index: -1;
        width: 100%;
        opacity: 0.15;
        left: 0;
        top: 0;
        background-size: cover;
        border-top-right-radius: 0 ;
        border-bottom-right-radius: 0;
      }

      .video {
          position: absolute;
          height: 150%;
          left: 50%;
          top: 15%;
          transform: translate(-50%, 0px);
      }

    
      #section-1 .column-right, #section-1 .column-left {
          width: 100%;
          align-items: center;
          justify-content: center;
      }

      #section-1 .column-left {
        width: 100%;
        height: 40%;
        position: relative;
    }

      #section-1 h1,p {
          text-align: center;
          width: 80%;
      }

      #section-1 h1 {
          margin: 2em auto 10px;
          width: 90%;
      }

      #section-1 p {
          margin: 0 auto 2em;
      }

      #section-2 {
          flex-direction: column;
      }

      #section-2 .column-right, #section-2 .column-left {
          width: 100%;
          align-items: center;
          justify-content: center;
          display: flex;
      }

      #section-2 .column-right {
          height: 60%;
          justify-content: flex-start;
          padding: 1em 1em;
          order: 1;
         
      }

      #section-2 .column-left {
          height: 40%;
          align-items: flex-start;
          order: 2;
      }

      #section-2 img {
        height: 50%;
        width: auto;
        margin: 3em;
      }

    #section-2 h2, #section-3 h2 {
        font-size: 1em;
    }

    #section-2 h2::before, #section-3 h2::before {
        content: '';
        width: 27px;
        border: 1.5px solid var(--darkBlue);
        transform: translate(90deg);
    }
    
    #section-2 p {
        width: 100%;
        margin: 1em auto;
        font-size: 1em;
    }
     
    .service-icon {
        width: 40px;
        height: auto;
    }

    #section-3 {
        justify-content: flex-start;
        padding: 1em 1em;
    }
   #section-3 h2 {
       margin: 1em auto;
   }

   #section-3 p {
       width: 100%;
       margin: 3em auto 2em;
   }

   #section-3 p:last-of-type{
       margin: 0 auto 2em;
   }

   .glider-contain {
    height: 25%;
    width: 80%;
    min-width: 80%;
    background: rgb(0, 114, 187,0.3);
    position: relative;
    border-radius: 4px;
}

.glider{
    height: 100%;
    width: 100%!important;
    display: flex;
}

.dots {
    margin: 0.5em auto;
}

.glider-dot.active {
    background: var(--darkBlue);
}

.glider-prev {
    left: -10%;
}

.glider-next, .glider-prev{
    position: absolute;
    display: block;
    top: 50%;
    transform: translate(0,-50%);
}
.glider-next {
    right: -10%;
}

.glider-prev svg {
    transform: rotate(90deg);
}

.glider-next svg {
    transform: rotate(-90deg);
}

.testimonial {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
 
}

.testimonial img {
    display: block;
    height: 60px;
    width:60px;
    margin: 0 0.5em;
}

.testimonial blockquote {
    font-style: italic;
    width: 60%;
    font-size: 0.9em;
    color: var(--darkBlue);
}

.testimonial blockquote span {
    width: 100%;
    font-style:normal;
    font-weight: bold;
    display: block;
    text-align:right;
    margin: 1em 0;
    font-size: 0.7em;
}

.testimonial {
    justify-content: center;
}
   
  }

  @media screen and (max-width:700px){

    body, html {
        height: 100%;
    }
      
    #section-2 .column-right {
        height: 80%;
    }
      #section-2 p {
          font-size: 1em;
      }
      #section-2 .column-right .service svg {
          width: 40px;
          height: auto;
      }

      #section-2 .column-right .container-services, .service {
          display: flex;
          flex-direction: column;
      }
      
      #section-2 {
          height: auto;
      }

      #section-2 .column-left {
          height: auto;
      }

      #section-2 .scroll-button {
        display: none!important;
    }

      #section-2 .column-left img {
          margin: 1em auto 5em;
          height: 90px!important;
          width: auto;
      }
    
      #section-3 {
          justify-content: flex-start!important;
      }

   
    #section-3 p {
        padding: 0 1em;
    }

  }

  @media screen and (max-width:425px){

    html, body {
        height: 100%!important;
    }
    
    p {
        font-size: 0.9em!important;
    }
    
    blockquote {
        font-size: 0.8em!important;
    }
    
    #section-1 .column-right {
          justify-content: center;
      }

      #section-1 h1 {
          margin-top: 3em;
      }
      
      #section-1 p {
          margin-bottom: 1em;
      }

      .cta {
        width: 170px!important;
        min-height: 50px!important;
        background: var(--darkBlue) ;
        color: white;
        font-size: 1.3em!important;
    }
    .glider-next {
        right: -15%!important;
    }

    .glider-prev {
        left: -15%!important;
    }
  }

  @media screen and (max-height:550px){
      body{
          height: auto;
          overflow-y: scroll;
      }

      section {
        height: auto;
        overflow-y: auto;
    }
   
    .modal {
        width: 100%;
    }

    .background-image {
        height: 750px!important;
    }

      #section-1 .video {
        position: relative;
        display: block;
        height: 220px;
        margin: 1em auto!important;
        top: 15%;
        left: 50%;
        transform: translate(-50%, 0px);
        border: 2px solid blue;
      }

      #section-1 h1, #section-1 p, #section-1 .cta {
          margin: 1em auto 0;
      }

      #section-1 .cta {
          margin-bottom: 5em;
      }

      #section-2 img {
          width: 120px;
          height: auto;
      }

      
  }
 