* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
  }

  body, html {
      height:100vh;
      width: 100vw;
  }

  section {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Arial, Helvetica, sans-serif;
      text-shadow: 2x 2px 8px rgba(0,0,0,0.7);
      position: relative;
  }

 

  .column-left, .column-right {
      width: 50%;
      height: 100%;
      outline: 2px solid red;
      display: flex;
      justify-content: center;
      align-items: center;
  }


  @media screen and (max-width:500px){

      section {
         flex-direction: column; 
      }

      .column-left, .column-right {
          width: 100%;
      }

      .scroll-button svg {
          width: 100px!important;
      }

      .scroll-button:hover svg {
        transform: scale(1)!important;
      }

      #section-2 {
        flex-direction: column-reverse;
      }
      
      .background-image {
        z-index: -1;
        width: 100vw;
        height: 35vh ;
        opacity: 0.4;
        left: 0;
        top: 0;
        border-top-right-radius: 0 ;
        border-bottom-right-radius: 0;
      }

      .video {
          align-self: flex-end;
      }

      #section-1 h1,p {
          text-align: center;
      }

      #section-1 h1 {
          margin: -1em auto 0.3em;
      }

      #section-1 p {
          margin: 0 auto 0.em;
      }

      #section-2 img {
          height: 60%;
          width: 100%;
          margin: -1em auto 1em;
      }


    #section-2 h2, #section-3 h2 {
        font-size: 1.3em;
    }

    #section-2 h2::before, #section-3 h2::before {
        content: '';
        width: 27px;
        border: 2px solid var(--darkBlue);
        transform: translate(90deg);
    }
    
    #section-2 p {
        
        margin: 1em auto 0;
        padding: 0 1em;
    }
    
    .services {
        margin: 1em auto;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    
    .service-icon {
        width: 40px;
        height: auto;
    }

   #section-3 h2 {
       margin: 1.5em auto 1em;
   }

   #section-3 p {
       width: 80%;
   }

   .glider-contain {
    margin: auto;
    width: 80%;
    height: 30%;
    border: 2px solid red;
   }

   

   .testimonial img {
       align-self: center;
   }

   .testimonial {
    display: flex;
    justify-content: flex-start;
    background: rgba(0, 114, 187, 0.3);
    border-radius: 4px;
}


.testimonial blockquote {
    text-align: left;
    font-size: 0.8em;
    line-height:1.6;
    color: var(--lightBlue);
    font-style: italic;
}

.testimonial span {
    width: 100px;
    line-height: 1;
    text-align: right;
    font-weight: bold;
    display: block;
    color: var(--darkBlue);
}



.arrow-left {
    display: block;
    transform: rotate(90deg);
    border: 2px solid brown;
    
}

.arrow-right {
    transform: rotate(-90deg);
}
   
  }