
#section-2 .column-right {
    flex-direction: column;
}
    
 h2::before {
    content: '';
    width: 57px;
    border: 2px solid var(--darkBlue);
    transform: translate(90deg);
    height: 0px;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

#section-2 img {
    display: block;
    width: 100%;
    height: auto;
}

#section-2 .column-right {
    padding: 2em 2em;
    align-items: center;
    justify-content: flex-start;
}

#section-2 .column-right h2 {
    margin: 2em 0 1em 0;
}

#section-2 .column-right p {
    margin: 1em 0 2em 0;
}
